body {
  background-color: #F4F5F7;
  margin: 0;
}
.title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  margin-bottom: 20px;
}
.title::before{
  content: "";
  position: absolute;
  left: 2px;
  bottom: 0;
  height: 3px;
  width: 60px;
  border-radius: 5px;
  background: linear-gradient(135deg, #efef38, #ff9027);
}