body {
  background-color: #F4F5F7;
  margin: 0;
}
::-webkit-scrollbar {
  width: 6px;
} 
::-webkit-scrollbar-thumb {
  background: #B5B194; 
  border-radius: 35px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  margin-bottom: 20px;
}
.title::before{
  content: "";
  position: absolute;
  left: 2px;
  bottom: 0;
  height: 3px;
  width: 60px;
  border-radius: 5px;
  background: linear-gradient(135deg, #efef38, #ff9027);
}
.card-container {
	padding: 20px;
	min-height: 100%;
}
.card-content {
	width: 400px;
	margin: 30px auto;
	background-color: #fff;
	padding: 0 20px 20px;
	border-radius: 6px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	text-align: center;
}
.avatar-flip {
	border-radius: 100px;
	overflow: hidden;
	height: 150px;
	width: 150px;
	position: relative;
	margin: auto;
	top: -60px;
}
.avatar-flip img {
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 100px;
}
.card-content h2 {
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #333;
}
.card-content h4 {
	font-size: 13px;
	color: #00baff;
	letter-spacing: 1px;
	margin-bottom: 25px
}
.card-content p {
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 20px;
	color: #666;
	font-family: Roboto;
}
.action-btn {
	text-align: end;
}
.alert {
	text-align: center;
}
.fh5co-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../loader.gif) center no-repeat #fff;
}
.bio-graph-heading {
    background: #fbc02d;
    color: #fff;
    text-align: center;
    font-style: italic;
    padding: 40px 110px;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    font-size: 16px;
    font-weight: 300;
}
.bio-graph-info {
    color: #89817e;
}
.bio-graph-info h1 {
    font-size: 22px;
    font-weight: 300;
    margin: 0 0 20px;
}
.bio-row {
    width: 50%;
    float: left;
    margin-bottom: 10px;
    padding:0 15px;
}
.bio-row p span {
    width: 100px;
    display: inline-block;
}
